* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.hidden {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center;
}